
  <div class="md-dialog-container" id="changepassword">
    <md-dialog aria-label="Change Password">
      <md-toolbar class="_md _md-toolbar-transitions">
        <div class="md-toolbar-tools">
          <h2>Change Password</h2>
          
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div layout="row" layout-align="center center" class="padding-top-50">
          <form name="form_password" novalidate>
            <div class="row group">
              <div class="col s12">
                <input id="password" ng-model="reset_data.password" type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>New Password</label>
              </div>
            </div>
            <div class="row group">
              <div class="col s12">
                <input id="password" ng-model="reset_data.re_password" type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Re-Password</label>
              </div>
            </div>
            <div ng-if="reset_error" layout="row" layout-align="center center">
              <div class="error">Invalid password or password is mismatched.</div>
            </div>
            
          </form>
          
        </div>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">
          Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="resetPassword()">Submit</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
